<h2>Application</h2>

<section id="application-<%= @application.id %>">
  <h3>Name: <%= @application.name %></h3>
  <p>Street Address: <%= @application.street_address %></p>
  <p>City: <%= @application.city %></p>
  <p>State: <%= @application.state %></p>
  <p>Zip Code: <%= @application.zip_code %></p>

  <p>Applicant Description: <%= @application.description_of_applicant %></p>
  <% if @application.pets.empty? %>
    <p> Please search for a pet, and add it </p>
  <% else %>
    <p>All pets applied for: <%=@application.pets.first.name %> </p>
  <% end %>

  <p>Application Status: <%= @application.application_status %></p>
  <% if @application.application_status == "In Progress"%>
    <%= render partial: "pet_search" %>
  <% end %>

  <% if @pets %>
    <% @pets.each do |pet| %>
    <section id='pet-id-<%= pet.id %>'>
      <%= pet.name %>
      <%= button_to "Adopt this pet", "/applications/#{@application.id}", method: :patch, params: { pet_id: pet.id } %>
    </section >
    <% end %>
  <% end %>

  <% if @application.pets.count > 0 && @application.application_status == "In Progress" %>
    <%= render partial: "submit_description" %>
  <% end %>
</section>
